
.basket-container {
    display: flex;
    justify-content: center;

    padding: 20px;
    gap: 20px;

}

.basket-link{
    font-size: 33px;
    text-align: center;
    font-style: italic;
}
.basket-items {
    flex: 1;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 20px ;
    gap: 15px;
    overflow-y: auto; 
}


.basket-item {
    display: flex;
    background: #ffffff;
    max-width: 1000px;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.basket-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
}


.item-photo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}


.item-details {
    margin-left: 20px;
    flex-grow: 1;
}

.item-details h2 {
    font-size: 22px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.item-price {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff6347;
}

.item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}


.basket-sidebar {
    position: sticky;
    top: 20px;
    padding: 20px;
    width: 25%;

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}


.basket-total {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


.order-button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .basket-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .basket-container {
        flex-direction: column;
        align-items: center;
    }

    .basket-items {
        max-width: 100%;
        padding: 0;
    }

    .basket-sidebar {
        width: 100%;
        position: static;
        margin-top: 20px;
    }

    .order-button {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }
}
