.contact-content{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    max-width: 1000px;
    margin:  0 auto;
}
.map{
    margin-left: 20px;
}

@media (max-width:750px) {
    .contact-content{
        display: block;
        

    }
}.contact .form {
    margin-top: 20px;
  }
  
  .contact .form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact .form .form-group {
    margin-bottom: 15px;
  }
  
  .contact .form .form-group label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .contact .form .form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact .form .submit-btn {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact .form .submit-btn:hover {
    background-color: #45a049;
  }
  