.image-gallery {
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(245, 245, 245, 0.9));
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: auto;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 320px;
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-size: 1.5rem;
    color: #2e2e2e;
    margin: 15px 0;
    font-weight: 600;
}

.card button {
    background-color: #9945ff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.card button:hover {
    background-color: #8226f3;
    box-shadow: 0 8px 16px rgba(115, 14, 161, 0.76);
}

.card button a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}

.card button a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card-list {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 100%;
    }
}
