/* Основной стиль для header */
.header {
  position: relative;
  text-align: center;
  max-width: 100svw !important;
  overflow: hidden;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);


  color: white;
  z-index: 1000; 
}
.search{
  border: 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 100px;
  max-width: 1500px;
  margin:  0 auto;
}
.header-auth{
  display: flex;

}
.header-auth a {

  color: white;
}
.contact-list{
  margin-top: 10px !important;
}
.header-logo {
  max-width: 160px;
}

/* Стили для навигации */
.header-navigate {
  display: flex;
  gap: 15px;
  z-index: 1000; /* Поверх всего */
}

.header-navigate a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}



@media (max-width: 768px) {
  .header-content{
    width: 90%;
   padding:  0 40px 0 0 ;
  }
  .header-logo{
    max-width: 110px;
  }
  .header-navigate {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--main-color);;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000; /* Поверх контента */
  }

  .header-navigate.active {
    transform: translateX(0);
  }

  .header-navigate a {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 27px;
    color: rgb(10, 10, 10);
  }
}

/* Стиль бургер-меню */
.burger-menu {
  display: none;
  cursor: pointer;
  z-index: 1001; /* Чтобы бургер-меню было поверх всего */
  margin-top: 30px;
}

.burger {
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-icon{
  max-width: 45px;
  margin-top: 6px;
}
.burger::before, .burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.burger::before {
  transform: translateY(-10px);
}

.burger::after {
  transform: translateY(10px);
}

.burger.open {
  background-color: transparent;
}

.burger.open::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open::after {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Отображаем бургер-меню на мобильных устройствах */
@media (max-width: 768px) {
  .burger-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001; /* Бургер должен быть выше остальных элементов */
  }

  .header-contact {
    display: none;
  }
}

/* Анимации волн */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}



.item-list {
  display: none;  /* Скрыто по умолчанию */
  flex-direction: column;  /* Элементы по вертикали */

  height: 1000px;  /* Ограничение высоты блока */

  position: fixed;  /* Фиксированное положение */

  
  align-items: center;
  padding: 20px;
  z-index: 1;  /* Для отображения поверх других элементов */
  transition: all 0.3s ease; /* Плавный переход для появления */
  overflow-y: auto;  /* Вертикальная прокрутка */
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  backdrop-filter: blur(5px); /* Размытие фона за элементом */
  -webkit-backdrop-filter: blur(5px); /* Поддержка Safari */
}
@media (max-width:1000px) {
  .item-list {
    display: none;  /* Скрыто по умолчанию */
    flex-direction: column;  /* Элементы по вертикали */
  
    height: 1000px;  /* Ограничение высоты блока */
    max-width: 300px;
    position: fixed;  /* Фиксированное положение */
  
    
    align-items: center;
    padding: 20px;
    z-index: 1;  /* Для отображения поверх других элементов */
    transition: all 0.3s ease; /* Плавный переход для появления */
    overflow-y: auto;  /* Вертикальная прокрутка */
  }

}
/* Отображение блока, когда есть введенный запрос */
.item-list.active {
  display: flex;
}

/* Стили для каждой карточки элемента */
.item-card {
  display: flex;
  align-items: center;  /* Выровнять содержимое по центру */
  justify-content: space-between;  /* Пространство между элементами */
  background-color: #fff;
  border:  solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;  /* Отступ между карточками */
  width: 100%;
  height: 120px;
  max-width: 400px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.delete{
  background-color: red;
  padding: 10px;
  border-radius: 20px;
  font-weight: 650;
}
.item-card:hover {
  transform: scale(1.05);

}

.item-card img {
  max-width: 60px;
  height: auto;
  margin-right: 15px;  /* Отступ между картинкой и текстом */
}

.item-details {
  flex-grow: 1;  /* Дать элементу остаточное пространство */
}

.item-card h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.item-card span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #e91e63;
}

/* Стили для input поиска */
.search-input {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border:  solid #ddd;
  color: #ddd;
  font-size: 14px;
}

.header-basket{

  display: flex;
  align-items: center;
}
.header-baske a {
color: red;
}
.header-basket-txt{
  margin: 5px;
}